.left_info_column {
    grid-column: 1;
    grid-row: 1 / 4;
    width: 100%;
    height: 100%;
    padding: 25px;
    background: rgba($_white, 0.2);
    border-radius: 5px;
    //border: 5px solid $_white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .current {
        display: flex;
        flex-direction: column;

        .info {
            margin: 20px 0 20px 0;
        }
    }

    &__date {
        align-self: flex-end;
        font-weight: 600;
    }

    h3 {
        font-weight: 100;
    }

    .symbol {
        font-size: 3.6em;
        color: $_dark-blue;
        min-width: 140px;
        text-align: left;
    }
}
