// FOR ALL BASE CLASSES
.base {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 40% 40%;
    height: calc(100vh - 50px);
    width: 100%;
    justify-self: center;
}

.hidden {
    visibility: hidden;
}

