// FOR ALL GLOBAL ELEMENTS -> HTML, DIV, P ...
html {
    background-color: $_basecolor;
}

#__nuxt {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg,$_dark-blue, $_white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
