// VARIABLES SUCH AS COLORS OR BUTTONS
$_basecolor: #F6F5EC;
$_white: #fff;

$_dark-blue:#076585;
$_light-green: #DEFCC1;
$_light-gray: #c6c6c6;
$_yellow: #d4d02a;
$_black: #000;

$_fontFamily: Helvetica, sans-serif;
